@charset "utf-8";
/*header*/
header{padding-top:20px; position:relative;}
.logo img{width:95px;}
.navPhone,.navBtn{display:none;}
.navPc{background:url(../images/navBg.png) no-repeat; width:735px; height:78px;}
.navPc li{float:left;}
.navPc li:first-child{margin-left:80px;}
.navPc a,.navPc span{display:block; height:74px; line-height:60px; text-shadow:1px 1px 1px #000;}
.navPc a{width:114px; text-align:center;}
.navPc a:hover{color:#63b1ff;}
.navPc .current a{background:url(../images/navA_hover.png) no-repeat center bottom;}
.navBtn{font-size:25px; position:absolute; right:20px; top:30px; cursor:pointer;}
.navPhone{position:absolute; width:100%; top:88px; left:0; padding:5px 15px; z-index:999; background:rgba(135,73,12,.5)}
.navPhone li a{display:block; padding:5px; text-shadow:1px 1px 1px #000; text-align:center;}
.navPhone li a:hover,.navPhone li a:active{font-size:16px; background:rgba(255,255,255,.3);}

/*main*/
.main{padding-top:54px; border-radius:20px 20px 0 0; overflow:hidden; background:linear-gradient(to left,rgba(255,255,255,0) 97%,rgba(255,255,255,.4)),linear-gradient(to right,rgba(255,255,255,0) 97%,rgba(255,255,255,.4)),linear-gradient(to top,rgba(255,255,255,0) 95%,rgba(255,255,255,.4)); background-color:rgba(255,255,255,.1); border:1px solid rgba(255,255,255,.2); border-bottom:none; padding-bottom:247px; box-shadow:2px 2px 10px rgba(0,0,0,.5)}
.main:before{display:block; height:40px; border-radius:20px 20px 0 0; background:linear-gradient(to top,rgba(255,255,255,0) 10%,rgba(255,255,255,.4)); margin:-51px -12px 0 -12px;}

.con{width:70%; background:linear-gradient(to right,rgba(255,255,255,0) 97%,rgba(255,255,255,.4)); margin-top:-54px; padding-top:54px; padding-bottom:247px; margin-bottom:-247px; border-right:1px solid rgba(255,255,255,.5);}

.arcList li{position:relative; margin-bottom:15px;}
.arcList .date{position:absolute; border:1px solid rgba(255,255,255,.5); border-left:none; border-radius:0 10px 10px 0; width:52px; height:53px; text-align:center; left:0; top:0; background:rgba(255,255,255,.2)}
.arcList .date b{display:block; font-size:28px; line-height:32px; font-weight:bold; font-family:"微软雅黑"; border-bottom:1px dotted #fff;}
.arcList .details{margin-left:57px; padding:20px; border-radius:20px; background:rgba(255,255,255,.8); margin-right:18px; box-shadow:0 0 10px rgba(0,0,0,.3);}
.arcList .details h2 a{font-size:16px; color:#542f09; line-height:28px; font-weight:bold;}
.arcList .details h2 a:hover,.arcList .details h2 a:active{text-decoration:underline; color:#A35100;}
.arcList .details span{color:#727272; font-size:12px; word-spacing:10px;}
.arcList .details .img img{border:1px solid #fff; margin-top:10px; margin-bottom:10px; box-shadow:0 0 10px rgba(0,0,0,.5);}
.arcList .details p{line-height:22px; color:#000;}
.arcList .nextprev{margin-left:57px; border-radius:10px; border:1px solid #fff; margin-top:15px; margin-right:18px; font-size:12px;}
.arcList .nextprev li{position:relative; height:30px; line-height:30px; padding-left:22px;}
.arcList .nextprev i{display:block; width:5px; height:5px; background:#fff; border-radius:10px; position:absolute; left:10px; top:12.5px;}


aside{width:30%;}
aside dl{margin:18px;}
aside dl dt{background:url(../images/icon_bg.png) no-repeat center; height:45px; line-height:45px; font-size:16px; font-weight:bold; text-align:center;}
aside dl div{border-radius:10px; border:1px solid #fff; margin-top:15px;}
aside dl dd{position:relative; height:30px; line-height:30px; padding-left:22px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
aside dl dd i{display:block; width:5px; height:5px; background:#fff; border-radius:10px; position:absolute; left:10px; top:12.5px;}

/*article*/
article{position:relative; margin-bottom:15px;}
article .currentPosition{position:absolute; top:-30px; left:25px; font-size:12px;}
article .currentPosition,article .currentPosition a{color:#333;}
article .date{position:absolute; border:1px solid rgba(255,255,255,.5); border-left:none; border-radius:0 10px 10px 0; width:52px; height:53px; text-align:center; left:0; top:0; background:rgba(255,255,255,.2)}
article .date b{display:block; font-size:28px; line-height:32px; font-weight:bold; font-family:"微软雅黑"; border-bottom:1px dotted #fff;}
article .details{margin-left:57px; padding:20px; border-radius:20px; background:rgba(255,255,255,.6); margin-right:18px;}
article .details h1{font-size:16px; color:#542f09; line-height:28px; font-weight:bold; text-align:center;}
article .details span{color:#727272; font-size:12px; word-spacing:10px; text-align:center; font-size:12px; display:block; margin:10px;}
article .details .arcCon{line-height:22px; color:#333; font-size:12px;}
article .details .arcCon img{border:1px solid #fff; margin-top:10px; margin-bottom:10px; box-shadow:0 0 10px rgba(0,0,0,.5);}

/*footer*/
footer{margin-top:-247px; background:linear-gradient(to top,rgba(255,255,255,0) 95%,rgba(255,255,255,.4)); background-color:rgba(255,255,255,.1); height:247px; border-top:1px solid rgba(255,255,255,.2);}
footer .copy{width:70%; padding-top:80px; text-align:center;}
footer .copy,footer .copy a{color:#EBDACA; line-height:30px;}

@media (max-width:1199px){
	.navPc{background-image:url(../images/navBg2.png); width:625px; height:78px;}
	.navPc li:first-child{margin-left:25px;}
}
@media (max-width:991px){
	.navPc{background-image:url(../images/navBg2.png); width:625px; height:78px;}
	.navPc li:first-child{margin-left:25px;}
}
@media (max-width:767px){
	header{padding-top:0;}
	.navBtn{display:block;}
	.con,aside{width:100%; float:none;}
	footer .copy{width:100%;}
}